streamlit
langchain
langchain-openai
langchain-community
unstructured
unstructured_inference
pdfplumber
pdf2image
pysqlite3-binary
sentence-transformers
huggingface-hub
opencv-python-headless
scikit-learn
openai
chromadb
paddlepaddle>=3.0.0b1
unstructured.paddleocr==2.10.0
onnx>=1.17.0
onnxruntime>=1.19.0
pdf2image
pdfminer.six
pikepdf
pi_heif
pypdf
google-cloud-vision
effdet
unstructured-inference>=0.8.10
unstructured.pytesseract>=0.3.12
faiss-cpu